@import './Colors.scss';

.tagGroup {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  // height: 30px;
}

.tag {
  background-color: $grey;
  border-radius: 20px;
  padding: 4px 12px;
  min-width: fit-content;
}

.tagRest {
  margin: 0 7px 0 0;
}

.tagLast {
  margin: 0;
}

.tagText {
  color: $white;
  margin: 0;
}

.TagGroup div {
  margin: 0 0 0 10px;
}