@import './Colors.scss';

.tagGroup {
  display: flex;
  flex-flow: row wrap;
  // overflow: hidden;
}

.tag {
  background-color: $grey;
  border-radius: 20px;
  padding: 4px 12px;
  min-width: fit-content;
  margin-bottom: 5px;
}

.tagRest {
  margin-right: 6px;
}

.tagLast {
  margin-right: 0;
}

.tagText {
  color: $white;
  margin: 0;
}